.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), 32px);
  border: 3px solid;
  border-color: #808080 #ffffff #ffffff #808080;
  background-color: #c0c0c0;
  width: fit-content;
}
